---
layout: base
---
<div class="city-width-container">
  <main class="city-main-wrapper city-main-wrapper--auto-spacing" id="main-content">
    <div class="city-grid-row">
      <div class="city-grid-column-two-thirds-from-desktop">
        <div class="city-!-margin-bottom-8">
          <h1 class="city-heading-xl">{{ page.title | escape }}</h1>
        </div>
      </div>
    </div>
    <div class="city-grid-row">
      <div class="city-grid-column-two-thirds-from-desktop">
        <article>
          {{ content }}
        </article>
      </div>
    </div>
  </main>
</div>